.pickrandom {
  height: 500px;
  width: 433px;
}
.pickrandom img {
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.pick1:hover {
  transform: scale(1.05) rotate(24deg);
}
.pick2:hover {
  transform: scale(1.05);
}
.pick3:hover {
  transform: scale(1.05) rotate(-25deg);
}
.pick1 {
  height: 100%;
  position:relative;
  bottom: 100%;
  left: 0;
  transform: rotate(24deg);
}
.pick2 {
  height: 100%;
  position:relative;
  bottom: -30px;
  left: -10px;
  transform: rotate(0deg);
}
.pick3 {
  height: 100%;
  position:relative;
  bottom: 0%;
  left: 300px;
  transform: rotate(-25deg);
}
.hideresult {
  display:none;
}
.showresult {
  position:absolute;
  top: 10%;
  left: 15%;
  width: calc(70% - 10px);
  height: 75%;
}
.catename {
  font-size: 20px;
  font-weight: 400;
}