.catpage {
margin: 0 20%;
}
.catelement {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 5px solid #744f07;
  background-color: #f7d085;
}
.catep {
  margin: 0 20px 0 20px;
  width: calc(100% - 34px);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
